<section id="detailsPage">
    <div class="details">
        <div class="animalPic">
            <img class="animal-image-cover" src={{petInformation.imgUrl}}>
        </div>
        <div>
            <div class="animalInfo">
                <h1>Name: {{petInformation.name}}</h1>
                <h3>Breed: {{petInformation.breed}}</h3>
                <h4>Age: {{petInformation.age}} years</h4>
                <h4>Weight: {{petInformation.weight}}kg</h4>
            </div>
            <a id="actionBtn" href="/dashboard">Back</a>
        </div>
    </div>
</section>